@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Torus;
  src: url(../assets/fonts/Torus_Heavy.otf);
}

body{
  font-family: 'Torus';
  background-color: #587ebf;
}



.bg-imageMobile {
  background-image: url(../public/Banner_LP_Concurso_Ilustração_Vertical.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 54vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100%;
}





@media (min-width:800px) {
  .bg-imageMobile{
    display: none;
  }

  
  .bg-image{
    background-image: url(../public/Banner_LP_Concurso_Ilustração_Horizontal.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height:100vh;
    width: 100vw;
    max-width: 100%;
    display: block;
  }
}


