@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Torus;
  src: url(../assets/fonts/Torus_Heavy.otf);
}

body{
  font-family: 'Torus';
  background-color: #587ebf;
}



.bg-imageMobile{
  background-image: url(../public/Banner_LP_Concurso_Ilustração_Vertical.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh
}




@media (min-width:1000px) {
  .bg-imageMobile{
    display: none;
  }

  
  .bg-image{
    background-image: url(../public/Banner_LP_Concurso_Ilustração_Horizontal.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    display: block;
  }
}


