@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Torus;
  src: url(../assets/fonts/Torus_Heavy.otf);
}

body{
  font-family: 'Torus';
}


.bg-image{
  background-image: url(../public/2\ -\ Banner\ site_fundo.png);
  background-position: center center;
  background-size: cover;
  height:100vh;
}